<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="POST" action="<%= team ? "/edit/" + team.id : "/new" %>" id="create-form">
        <div class="inputs-container">
            <div>
                <label for="name">Team Name</label>
                <input value="<%= team ? team.name : "" %>" id="name" name="name" type="text" required>
            </div>

            <div>
                <label for="nation">Nation</label>
                <input value="<%= team ? team.nation : "" %>" id="nation" name="nation" type="text" required>
            </div>

            <div>
                <label for="league">League</label>
                <input value="<%= team ? team.league : "" %>" id="league" name="league" type="text" required>
            </div>

            <div>
                <label for="manager">Manager</label>
                <input value="<%= team ? team.manager : "" %>" id="manager" name="manager" type="text" required>
            </div>
        </div>
        <button class="add-submit-btn" type="submit">Submit</button>

    </form>
</body>
</html>